@import 'tailwindcss';

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@theme {
  --color-blood-red-50: #ffe5e5;
  --color-blood-red-100: #ffcccc;
  --color-blood-red-200: #ff9999;
  --color-blood-red-300: #ff6666;
  --color-blood-red-400: #ff3333;
  --color-blood-red-500: #cc0000;
  --color-blood-red-600: #990000;
  --color-blood-red-700: #660000;
  --color-blood-red-800: #330000;
  --color-blood-red-900: #1a0000;

  --color-deep-black-50: #f5f5f5;
  --color-deep-black-100: #e0e0e0;
  --color-deep-black-200: #c0c0c0;
  --color-deep-black-300: #a0a0a0;
  --color-deep-black-400: #606060;
  --color-deep-black-500: #2a2a2a;
  --color-deep-black-600: #1f1f1f;
  --color-deep-black-700: #151515;
  --color-deep-black-800: #0a0a0a;
  --color-deep-black-900: #000000;

  --color-smoke-gray-50: #f9f9f9;
  --color-smoke-gray-100: #f0f0f0;
  --color-smoke-gray-200: #e0e0e0;
  --color-smoke-gray-300: #c9c9c9;
  --color-smoke-gray-400: #a0a0a0;
  --color-smoke-gray-500: #7a7a7a;
  --color-smoke-gray-600: #656565;
  --color-smoke-gray-700: #505050;
  --color-smoke-gray-800: #3a3a3a;
  --color-smoke-gray-900: #252525;
}
